<h1> WyOwnIt - Password Reset </h1><br>
To reset your password of WyOwnIt, please click next button: <br>
<% reset_password_link = "www.google.com/new_password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>
<br>
If you are using the app QR code: <br>
<img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=<%= @token %>" alt="QR code">
<br>
Or you can paste the token if you prefer : 
 <%= @token %>