Hello, 
To reset your password of WyOwnIt, please click next button: <br>
<% reset_password_link = "www.google.com/new_password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>
<br>
You can scan the QR code in the app: 
<%= RQRCode::QRCode.new("#{@token}").as_svg(
  offset: 0,
  color: '000',
  shape_rendering: 'crispEdges',
  module_size: 6
).html_safe  %>  
If u are using the app, the token is: 
 <%= @token %>